<div id="agenda">

	<div class="container">

        {% include 'partial/block-title.twig' %}

        {% include 'partial/block-intro.twig' %}

		<table class="table table-responsive table-hover">

			<tbody class="w-100" style="display: table;">

			{% for list in block.agenda_content_repeater %}

				{% if list.new_agenda_section %}

				<tr class="header">
					<td>

						<strong><p>{{ list.section_title }}</p></strong>


					</td>

					<td>
						{{ list.section_description }}

					</td>

				</tr>

				{% endif %}

				<tr>

					<td style="min-width: 287px;">{{ list.agenda_title|striptags('<span>')|wpautop }}</td>

					<td>

						{{ list.agenda_item|striptags('<span>, <a>')|wpautop }}

					</td>

				</tr>

			{% endfor %}

			</tbody>

		</table>

		{% if block.has_footer == 'yes' %}

		    <div class="content mb-5">

		        {{ block.footer }}

		    </div><!-- /.text_container -->

		{% endif %}

	</div>

</div>