<div id="files">

    <div class="container">

    {% include 'partial/block-title.twig' %}

    {% include 'partial/block-intro.twig' %}

    <div class="jumbotron">

    {% for item in block.download_files %}

    <div class="row">

        <div class="col-xs-12 col-sm-3">

            <div class="content-block-download mb-4">

                <h3>{{ item.title }}</h3>

                <p></p>

                <a href="{{ item.file.url }}" target="_blank" class="btn-primary download">
                    <i class="fa fa-download" aria-hidden="true"></i> DOWNLOAD
                </a>

            </div>

        </div>

        <div class="col-xs-12 col-sm-9">

            <div class="content-block-download">

            {% set text = item.description|split(' ') %}

            {% if text|length > 50 %}

                {% for shorttxt in text|slice(0, 50) %}

                    {{ shorttxt }}

                {% endfor %}

                <span class="elipsis">...</span>

                <div class="readmore">
                {% for moretxt in text|slice(50, 1000) %}

                    {{ moretxt }}

                {% endfor %}
                </div>

                <div>
                    <a href="#0" class="read-more">
                      Read More
                    </a>
                </div>

                {% else %}

                {{ text|join(' ') }}

            {% endif %}

            </div>

        </div>


    </div><!-- /.row -->

    {% if loop.last %}

    {% elseif loop.index %}

    <hr class="my-4">

    {% endif %}

    {% endfor %}


    </div>

</div>

