<div id="linklist">

    <div class="container">

        {% include 'partial/block-title.twig' %}

        {% include 'partial/block-intro.twig' %}

        <div class="card-deck {% if block.if_center_content %}justify-content-center{% endif %}">

            {% for list in block.links_repeater %}

            <div class="card list mb-4">

                <div class="card-body">

                    {% if list.section_title %}

                    <h4> {{ list.section_title }}</h4>

                    {% endif %}

                    <div class="bulleted-list">

                    {% for item in list.links %}

                        {% if item.link_type == 'external' %}

                            <li>

                                <a href="{{ item.external_url }}" target="_blank">{{ item.title }}<i class="fa fa-external-link ml-1" style="font-size: 16px;bottom: -2px;position:relative;" aria-hidden="true"></i></a>

                            </li>

                        {% elseif item.link_type == 'internal' %}

                            <li>

                                <a href="{{ item.internal_url }}">{{ item.title }}</a>

                            </li>

                        {% else %}

                            <li>

                                {{ item.title }}

                            </li>

                        {% endif %}

                    {% endfor %}

                    </div><!-- /.bulleted-list -->

                </div><!-- /.card-body -->

            </div><!-- /.card -->

            {% endfor %}

        </div><!-- /.card-deck -->

    </div><!-- /.container -->

</div><!-- #linklist -->