<div id="link_descriptions" style="background-color: {{ block.background_color_picker }}">

    <div class="container">

        {% include 'blocks/block-title.twig' %}

        <div class="card-deck">

        {% for list in block.list_items %}

            <div class="card mb-4">

                <div class="card-body">

                {% if list.location %}

                    <div class="location-reference">

                        <p>{{ list.location }}</p>

                    </div>

                {% endif %}

                <div class="sub-head">

                    {% if list.open_link_in_same_window %}

                        {% if list.url %}

                            <a href="{{ list.url }}">

                        {% endif %}

                            <h5>{{ list.title }}</h5>

                        {% if list.url %}

                            </a>

                        {% endif %}

                    {% else %}

                        {% if list.url %}

                            <a href="{{ list.url }}" target="_blank">

                        {% endif %}

                            <h5>{{ list.title }}</h5>

                        {% if list.url %}

                            </a>

                        {% endif %}

                    {% endif %}

                </div>

                <div class="content">

                    {{ list.description|wpautop }}

                </div>

                </div><!-- /.card-body -->

            </div><!-- /.card -->

        {% endfor %}

        </div>

    </div>

</div>
