<div class="container">

    <div class="container">

        <div class="row">

            {% include 'partial/block-title.twig' %}

            <a href="{{ site.link }}/news" class="show-all ml-auto">

               <h4 class="section-title d-sm-block mt-3 mb-4 d-none px-5">See All<i class="fa fa-list-ul ml-2" aria-hidden="true"></i></h4>

            </a>

        </div>

    </div>

    {% include 'partial/block-intro.twig' %}

    {% if block.featured_news %}

    <div class="card-deck">

        {% for post in block.featured_news %}

        <div class="card">

            <a href="{{ function('get_permalink', post.ID) }}">

                <img src="{{TimberImage(post.featured_image).src|resize(500, 500, 'center') }}" alt="" class="w-100 mx-auto">

            </a>

            {% include ['./partial/tease.twig'] %}

        </div>

        {% endfor %}

    {% else %}

        {% for post in posts %}

            <div class="card">

                <div class="card-body">

                {% include ['./partial/tease-'~post.post_type~'.twig', './partial/tease.twig'] %}

                </div>

            </div>

        {% endfor %}

    </div>

    {% endif %}

    <a href="{{ site.link }}/{{ block.block_title|sanitize }}" class="show-all px-5" style="color:{{block.text_color_picker}}!important;">

       <h4 class="section-title mt-2 mb-4 d-inline-block d-sm-none"> <i class="fa fa-list-ul" aria-hidden="true"></i> See All</h4>

    </a>

    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

</div>