<!-- ////////////////////////////////////////// -->
<!-- ////////////// MODAL POP UP ////////////// -->
<!-- ////////////////////////////////////////// -->

{% for item in people %}

{% set counter = ( counter | default(0) ) + 1 %}
<div class="modal fade" id="exampleModalLong{{ counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                {% if item.people_image %}

                    <img src="{{Image(item.people_image).src|resize(500, 500, 'center') }}" alt="" class="rounded-circle w-100 mx-auto" style="max-width: 180px;">

                {% else %}

                    <img src="{{ theme.link }}/img/profile.png" alt="" class="rounded-circle w-100 mx-auto" style="max-width: 180px;">

                {% endif %}

                <h4 class="card-title my-3 text-center">{{ item.post_title }}</h4>

                <span class="badge badge-primary badge-pill">{{ item.lecturer_type }}</span>

                <h6 class="text-center">{{ item.job_title }}</h6>

                <hr>

                <p class="card-text">{{ item.bio|wpautop }}</p>

            </div>
            <!-- Button trigger modal -->

        </div>

    </div>

</div>

{% endfor %}

<!-- ////////////////////////////////////////// -->
<!-- ////////////// MODAL POP UP ////////////// -->
<!-- ////////////////////////////////////////// -->

<div id="people">

    <div class="container">

        {% include 'blocks/block-title.twig' %}

        <div class="content-block">

            <div class="card-deck">

            {% for item in people %}

            {% set counter = ( counter | default(0) ) + 1 %}

            <div class="card">

                <div class="card-body">

                    {% if item.people_image[0] %}

                        <img src="{{Image(item.people_image).src|resize(500, 500, 'center') }}" alt="" class="rounded-circle w-100 mx-auto">

                    {% else %}

                        <img src="{{ theme.link }}/img/profile.png" alt="" class="rounded-circle w-100 mx-auto">

                    {% endif %}


                    {% if item.lecturer_type %}
                    {% endif %}

                    <a href="#0" data-toggle="modal" data-target="#exampleModalLong{{ counter }}"><h2 class="card-title my-3 text-center">{{ item.post_title[0] }}</h2></a>
                    <span class="badge badge-primary badge-pill">{{ item.lecturer_type[0] }}</span>

                    <h6 class="text-center">{{ item.job_title[0] }}</h6>

                    <p class="card-text mb-0">{{ item.bio[0]|raw|striptags|slice(0, 220) ~ '...' }}</p>
                    <!-- Button trigger modal -->


                    <a href="#0" class="read-more" data-toggle="modal" data-target="#exampleModalLong{{ counter }}">
                      Read More
                    </a>


                </div>

            </div>

            {% endfor %}

            </div>

        </div>

    </div>

</div>

