<div id="people">

    <div class="container">

        {% include 'blocks/block-title.twig' %}

        <div class="content-block">

            <div class="card-deck {% if block.if_center_content %}justify-content-center{% endif %}">

            {% for item in block.people %}

            {% set counter = ( counter | default(0) ) + 1 %}

            <div class="card">

                <div class="card-body">

                    {% if item.speaker_image %}

                        <a href="#0" class="read-more" data-toggle="modal" data-target="#{{ item.post_title|sanitize|replace({'ö': 'o'}) }}{{ counter }}">

                            <img src="{{Image(item.speaker_image).src|resize(500, 500, 'center') }}" alt="" class="rounded-circle w-100 mx-auto">

                        {% else %}

                            <img src="{{ theme.link }}/img/profile.png" alt="" class="rounded-circle w-100 mx-auto">

                        </a>

                    {% endif %}

                    <a href="#0" data-toggle="modal" data-target="#{{ item.post_title|sanitize|replace({'ö': 'o'}) }}{{ counter }}">

                        <h4 class="card-title mt-3 mb-2">{{ item.post_title }}</h4>

                    </a>

                    {% if item.lecturer_type %}

                        <span class="badge badge-primary badge-pill">{{ item.lecturer_type }}</span>

                    {% endif %}

                    {% if item.job_title %}

                        <h6>{{ item.job_title }}</h6>

                    {% endif %}

                    {% if item.bio %}

                        <p class="card-text mb-0">{{ item.bio|raw|striptags|slice(0, 220) ~ '...' }}</p>
                        <!-- Button trigger modal -->


                        <a href="#0" class="read-more" data-toggle="modal" data-target="#{{ item.post_title|sanitize|replace({'ö': 'o'}) }}{{ counter }}">
                          Read More
                        </a>

                    {% endif %}


                </div>

            </div>

            {% endfor %}

            </div>

        </div>

    </div>

</div>

<!-- ////////////////////////////////////////// -->
<!-- ////////////// MODAL POP UP ////////////// -->
<!-- ////////////////////////////////////////// -->

{% for item in block.people %}

{% set counter = ( counter | default(0) ) + 1 %}
<div class="modal fade" id="{{ item.post_title|sanitize|replace({'ö': 'o'}) }}{{ counter }}" tabindex="-1" role="dialog" aria-labelledby="{{ item.post_title|sanitize|replace({'ö': 'o'}) }}Title" aria-hidden="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                {% if item.speaker_image %}

                    <img src="{{Image(item.speaker_image).src|resize(500, 500, 'center') }}" alt="" class="rounded-circle w-100 mx-auto" style="max-width: 250px;">

                {% else %}

                    <img src="{{ theme.link }}/img/profile.png" alt="" class="rounded-circle w-100 mx-auto" style="max-width: 250px;">

                {% endif %}

                {% if item.post_title %}

                    <h4 class="card-title my-3 ">{{ item.post_title }}</h4>

                {% endif %}

                {% if item.job_title %}

                    <h5>{{ item.job_title }}</h5>

                {% endif %}

                {% if item.affiliation %}

                    <h6 class="mb-3">{{ item.affiliation }}</h6>

                {% endif %}

                {% if item.country %}

                    <h6 class="mb-3">{{ item.country }}</h6>

                {% endif %}

                {% if item.bio %}

                    {{ item.bio|wpautop }}

                {% endif %}

                {% if item.people_url %}

                    <a href="{{ item.people_url }}" target="_blank">{{ item.people_url }}</a>

                {% endif %}

            </div>
            <!-- Button trigger modal -->

        </div>

    </div>

</div>

{% endfor %}

<!-- ////////////////////////////////////////// -->
<!-- ////////////// MODAL POP UP ////////////// -->
<!-- ////////////////////////////////////////// -->