<div id="related_content" style="background-color: {{ block.background_color_picker }}">

    <div class="container">

        <h3 class="mt-5">{{ block.block_title }}</h3>

        <div class="content-block">

        {% for articlerepeater in block.articles_repeater %}

            <h4> {{ articlerepeater.section_title }}</h4>

            <div class="row row-eq-height">

            {% for article_relationship in articlerepeater.articles %}

            <div class="col-xs-12 col-sm-4">

            <div class="content-block article">

                <div class="sub-head clearfix align-middle">

                    <a href="{{ article_relationship.link }}"><h5>{{ article_relationship.title }}</h5></a>

                </div><!-- /.sub-head -->

                {% if article_relationship.post_excerpt %}

                    <p>{{ article_relationship.post_excerpt|excerpt(option.ucd_excerpt_length) }}</p>

                {% else %}

                    <p>{{ article_relationship.ucd_article_intro|excerpt(option.ucd_excerpt_length) }}</p>

                {% endif %}

            </div><!-- /.content-block -->

            </div>

            {% endfor %}

            </div><!-- /.row -->

            {% if loop.last %}

                <span></span>

            {% elseif loop.index %}

                <hr>

            {% endif %}

        {% endfor %}

        </div>

    </div>

</div>