{% for list in block.lists_repeater %}

    <h4 class="repeater"> {{ list.section_title }}</h4>

    <div class="spacer"></div>

    <div class="row row-eq-height">

        {% for item in list.list_items %}

                <div class="col-xs-12 col-sm-4">

                <div class="content-block list-description">

                    {% if item.location %}

                        <div class="location-reference">

                            <p>{{ item.location }}</p>

                        </div>

                    {% endif %}

                    <div class="sub-head">

                        {% if item.open_link_in_same_window %}

                            {% if item.url %}

                                <a href="{{ item.url }}">

                            {% endif %}

                                <h5>{{ item.title }}</h5>

                            {% if item.url %}

                                </a>

                            {% endif %}

                        {% else %}

                            {% if item.url %}

                                <a href="{{ item.url }}" target="_blank">

                            {% endif %}

                                <h5>{{ item.title }}</h5>

                            {% if item.url %}

                                </a>

                            {% endif %}

                        {% endif %}

                    </div>

                    <div class="content">

                        {{ item.description|wpautop }}

                    </div>

                </div><!-- /.list-description -->

             </div>

        {% endfor %}

    </div><!-- /.row -->

    {% if loop.last %}

        <span></span>

    {% elseif loop.index %}

        <hr>

        <div class="spacer-half"></div>

    {% endif %}

{% endfor %}
