<div class="row row-eq-height">

    {% for staff_id in block.staff %}

    {% set staff = function( 'ucd_get_coauthor', staff_id ) %}

    <div class="col-xs-12 col-sm-4">

        <div class="content-block-people w-100 pb-0">

            <div class="row row-eq-height">

                {% if staff.thumbnail.src|default %}
                    <div class="col-xs-7">
                    <div class="block-text">
                {% else %}
                    <div class="col-xs-12">
                    <div class="block-text-no-img">
                {% endif %}

                        <h5 class="sub-title">
                            {% if staff.display_name %}
                                <a href="{{ staff.profile_url }}">
                                    {{ staff.display_name }}
                                </a>
                            {% endif %}
                        </h5>

                        {% if staff.title %}
                            <div class="w-100">
                                <strong>{{ staff.title }}</strong>
                            </div>
                        {% endif %}

                        {% if staff.email and staff.appt %}
                            <div class="w-100">
                                <a href="mailto:{{ staff.email }}" class="email">{{ staff.email }}</a>
                            </div>
                        {% endif %}

                        {% if staff.phone and staff.appt %}
                            <div class="w-100">
                                <p>{{ staff.phone }}</p>
                            </div>
                        {% endif %}

                {% if staff.thumbnail.src|default %}
                    </div><!-- /.block-text -->
                {% else %}
                    </div>
                {% endif %}

                </div><!-- /.col-md-8 -->

                {% if staff.thumbnail.src|default %}

                <div class="col-xs-5">
                {# Check if the post has a thumbnail #}

                    <a href="{{ staff.profile_url }}">
                        <img src="{{ staff.thumbnail.src|resize(768, 900, 'center') }}" alt="{{ staff.display_name }}">
                    </a>

                </div><!-- /.col-4 -->

                {% endif %}

            </div><!-- /.row -->

        </div><!-- /.content-block-people -->

    </div><!-- /.col -->

    {% endfor %}

</div><!-- /.row -->

