{% extends "base.twig" %}

{% block content %}

<div id="single">

    <div class="container">

        <div class="content">

            <h2 class="section-title mb-4 ml-5">
            {% if slug.name %}
                {{ title_post_type|capitalize }}
            {% elseif title_term.name %}
                {{ title_post_type|capitalize }} <span>{{ title_term.name|capitalize }}</span>
            {% elseif title_post_type %}
                {{ title_post_type|capitalize }}
            {% elseif title %}
                {{ title_post_type|capitalize }}
            {% endif %}
            <span class="chevron right"></span></h2>

            <div class="row row-eq-height">

                {% if roletype %}

                <div class="col-12 col-sm-8">

                {% else %}

                <div class="col-12">

                {% endif %}

                    <div class="row pl-3 pr-0">

                        {% for post in posting %}

                            {% if roletype %}

                            <div class="col-12 col-sm-6 px-0">

                            {% else %}

                            <div class="col-12 col-sm-4 px-0">

                            {% endif %}

                                <div class="card full">

                                    {% for term in post.terms('journals') %}
                                        <li class="term-item"><a href="{{term.link}}">{{term.name}}</a></li>
                                    {% endfor %}

                                    {% include ['./partial/tease-'~post.post_type~'.twig', './partial/tease.twig'] %}

                                </div>

                            </div>

                        {% endfor %}

                    </div>

                </div>

                {% if roletype or instrumentdocs %}

                {% include ['./partial/sidebar-'~title_post_type~'.twig'] %}

                {% endif %}

            </div>

            {% include ['partial/pagination.twig'] %}

        </div>

    </div>

</div>

{% endblock %}