{% extends "base.twig" %}

{% block content %}

    afsd

<div id="single">

    <div class="container">

        <div class="content">

            {% if slug.name %}
                <h2>{{ slug.name|capitalize }}</h2>
            {% elseif title_term.name %}
                <h2>{{ title_term.name|capitalize }}</h2>
            {% elseif title_post_type %}
                <h2>{{ title_post_type|capitalize }}</h2>
            {% elseif title %}
                <h2>{{ title|capitalize }}</h2>
            {% endif %}

            <hr class="mt-0 mb-5">

            <div class="row">

                {% if taxterms %}

                <div class="col-12 col-sm-8">

                {% else %}

                <div class="col-12">

                {% endif %}

                {% for post in posting %}

                    {% for term in post.terms('journals') %}
                        <li class="term-item"><a href="{{term.link}}">{{term.name}}</a></li>
                    {% endfor %}

                    <article>

                        <div class="row">

                            {% if post.thumbnail.src|default %}

                            <div class="col-12 col-sm-5 col-md-4">

                                <a href="{{ post.link }}">
                                    <img src="{{ post.thumbnail.src|resize(768, 768, 'center') }}" alt="{{ post.title }}" class="w-100 mb-3">
                                </a>

                            </div>

                            <div class="col-12 col-sm-7 col-md-8">

                            {% else %}

                            <div class="col-12">

                            {% endif %}

                                <div class="content-padding">
                                    <div class="w-100">
                                        <h4>
                                            <a href="{{ post.link }}">
                                                {{ function('strip_tags', post.title, '<i>, <em>' ) }}
                                            </a>
                                        </h4>
                                    </div>

                                    {% set preview = post.get_preview(50,false,false,true) %}

                                    {% if preview %}

                                        <p>{{ preview }}</p>

                                    {% endif %}

                                    <a href="{{ post.link }}" class="read-more mt-4">Read More</a>

                                </div>
                            </div><!-- /.col -->

                        </div><!-- /.row -->
                    </article>

                    {% if loop.last %}

                    {% elseif loop.index %}
                    <hr class="mt-4 mb-5">
                    {% endif %}

                {% endfor %}

                {% include ['partial/pagination.twig'] %}


                </div><!-- /.col-8 -->

                {% if instrumentterms %}

                <div class="col-12 col-sm-4">

                    <div class="jumbotron">

                        <ul class="list-group list-group-flush">

                        <h4 class="my-3">Terms</h4>

                        {% for term in instrumentterms %}

                            <li class="list-group-item"><a href="{{ term.link }}"> {{ term.name }}</a></li>

                        {% endfor %}

                        </ul>

                    </div>

                </div><!-- /.col-4 -->

                {% endif %}


            </div>

        </div>

    </div>

</div>

{% endblock %}