<!doctype html>
<!--[if IE 9]><html class="no-js lt-ie10" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<!--[if lte IE 8]>
<script type="text/javascript">
    if ( document.URL.indexOf( 'ie8' ) === -1 ) {
        window.location = 'http://' + location.hostname + '/ie8';
    }
</script>
<![endif]-->

<head>

    {% block head %}

    <meta charset="utf-8" />

    <title>{{wp_title}}</title>

    <meta name="description" content="{{site.description}}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fav and touch icons -->

    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ theme.link }}/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ theme.link }}/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ theme.link }}/img/favicon/manifest.json">
    <link rel="mask-icon" href="{{ theme.link }}/img/favicon/safari-pinned-tab.svg" color="#fff">
    <link rel="shortcut icon" href="{{ theme.link }}/img/favicon.ico" type="image/vnd.microsoft.icon">
    <meta name="theme-color" content="#fff">

    {% endblock %}

    {{function('wp_head')}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112057147-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112057147-1');
    </script>

    <!--style type="text/css">

        .shrink.primary-color {
            background-color: {#{ primarycolor }#};
        }

    </style-->

</head>

    <body class="{{body_class}}" data-source="base.twig">

        <div id="wrapper">
        <div id="canvas">

            {% block content %}

            {% set flex_blocks = flexblock %}

            {% include 'templates/sidebar-nav.twig' %}

            {% include 'templates/header.twig' %}

            {% include 'templates/hero.twig' %}

            {% include 'templates/about-us.twig' %}

            <div id="breaker"><!-- de-attaches sticky event detail --></div>

            {% if flex_blocks %}

            {% include 'templates/flex-content.twig' with flex_blocks %}

            {% endif %}

            {% include 'templates/footer.twig' %}

            {% endblock %}

            {{ function('wp_footer') }}

        </div><!-- /#canvas -->
        </div><!-- /#wrapper -->

    </body>

</html>