{% if agenda %}
<div id="agenda">
	<span>
		<div class="container">

			<h2 class="text-left text-capitalize mb-5">Agenda</h2>

			{{ agendaintro }}

			<table class="table table-responsive table-hover table-dark">

				<tbody class="w-100" style="display: table;">

				{% for item in agenda %}
					<tr>
						<td style="min-width: 187px;">{{ item.agenda_time|striptags('<span>')|wpautop }}</td>

						<td>
						{{ item.agenda_item|striptags('<span>, <a>')|wpautop }}
						</td>
					</tr>

				{% endfor %}

				</tbody>

			</table>

			{% if agendafooter %}
				{{ agendafooter }}
			{% endif %}

			{#% if registrationurl %}
			<a href="{{ registrationurl }}" class="cta-button">Sign Up</a>
			{% endif %#}

		</div><!-- /.container -->
	</span>
</div>
{% endif %}