{% extends "index-single.twig" %}

{% block content %}

{% include 'templates/hero-single.twig' %}

<div id="single">

    <div class="container">

        <div class="row">

            <div class="col-12 col-sm-8">
                <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

                    <!--img src="{#{ post.thumbnail.src|resize(1200, 400) }#}"-->

                    <section class="article-content">


                        <div class="article-body">
                            {{ post.content }}
                        </div>


                    </section>


                </article>
            </div>

            <div class="col-12 col-sm-4">
                <nav>
                    <ul>
                        {% if news %}

                            <strong>News</strong>

                            <ul>

                                {% for item in news %}

                                {% set link = TimberPost(news) %}

                                <li>

                                    {% if item.link_type == 'internal' %}

                                            <a href="/news/{{ item.slug }}">{{ item.post_title }}</a><br>
                                            {{ item.post_date|date('F jS, Y') }}


                                    {% elseif item.link_type == 'external' %}

                                        <a href="{{ item.external_link }}" target="_blank">
                                            {{ item.post_title }}
                                        </a><br>
                                        {{ item.post_date|date('F jS, Y') }}

                                    {% endif %}

                                </li>

                                {% endfor %}

                            </ul>

                        {% endif %}

                         {% if sponsor %}

                            <strong>Sponsors</strong>

                            <ul>

                                {% for item in sponsor %}

                                <li>
                                    <a href="{{ function('get_permalink', item.ID) }}">
                                        {{ item.post_title }}
                                    </a>
                                </li>

                                {% endfor %}

                            </ul>

                        {% endif %}
                        {% if co_sponsor %}

                            <strong>Co-sponsors</strong>

                            <ul>

                                {% for item in co_sponsor %}

                                <li>
                                    <a href="{{ function('get_permalink', item.ID) }}">
                                        {{ item.post_title }}
                                    </a>
                                </li>

                                {% endfor %}

                            </ul>

                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>

        <div class="card-deck">

            <div class="w-100"><hr class="mt-5"></div>

            <h3 class="w-100 my-5">Speakers</h3>

            {% include 'blocks/speaker-card.twig' %}

        </div>


        {% if video %}

            <div class="w-100"><hr class="mt-5"></div>

            <h3 class="w-100 my-5">Watch Video</h3>

            <div class="embed-responsive embed-responsive-16by9">
                {{ video }}
            </div>

        {% endif %}

        {% if gallery %}

            <div class="w-100"><hr class="mt-5"></div>

            <h3 class="w-100 my-5">Photos</h3>

            <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block">

                <div class="card-columns">

                {% for item in gallery|slice(0,9) %}
                    <div class="card p-0">
                        <div class="gallery-icon"><a href="{{ item.url }}"><img src="{{ item.url }}" class="card-img" alt=""></a></div>
                    </div>
                {% endfor %}

                </div>


                <div class="collapse" id="collapseExample">

                    <div class="card-columns">

                    {% for item in gallery|slice(9,9000) %}
                        <div class="card p-0">
                            <div class="gallery-icon"><a href="{{ item.url }}"><img src="{{ item.url }}" class="card-img" alt=""></a></div>
                        </div>
                    {% endfor %}

                    </div>

                </div>

                <button class="btn photos btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Show All Photos
                </button>

            </div>

            <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none">

                <div class="carousel-gallery">

                    {% for item in gallery %}
                        <div class="carousel-cell">
                            <div class="gallery-icon"><a href="{{ item.url }}"><img src="{{TimberImage(item)|resize(500, 500, 'center')}}" style="height: 500px;"></a></div>
                        </div>
                    {% endfor %}

                </div>

            </div>

        {% endif %}



    </div><!-- /.container -->

</div>

{% endblock %}