{% if aboutsection =='true' %}

<section id="about" class="{% if backgroundfixed == 'true' %}scroll-fix{% endif %}" style="{% if istherebackgroundimage == 'true' %}background:url({{ aboutbackgroundimage.url }})no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;{% endif %}{% if aboutbackgroundcolor %}background-color:{{aboutbackgroundcolor}};{% endif %}{% if centercontent %}text-align:center;{% endif %}{% if aboutbackgroundcolor %}background-color:{{aboutbackgroundcolor}}; opacity:1;{% endif %}{% if abouttextcolor %}color:{{abouttextcolor}}!important;{% endif %}">

    <div class="container">

        <div class="content-block">

            <h2 class="section-title">{{ aboutprimarytitle }}</h2>

            <h3>{{ aboutsecondarytitle }}</h3>

            {{ aboutwysiwyg|wpautop }}

        </div>

    </div>

    {% if istherebackgroundimage == 'true' %}

    <div class="bkg-color" style="background: {{ aboutbackgroundcolor }};opacity:0.{{backgroundcoloropacity}}"></div>

    {% else %}

    <div class="bkg-color" style="background: {{ aboutbackgroundcolor }};"></div>

    {% endif %}

</section>

{% endif %}
