{% set blocks = flex_blocks %}

{% for block in blocks %}

    {% set anchor = block.block_title ~ '-' ~ loop.index %}

    <section id="{{ anchor|sanitize }}" style="{% if block.if_content_block_background_image == 'true' %}{% if block.content_block_background_image %}background: url({{ block.content_block_background_image.url }})no-repeat center center {% if block.fixed == 'true' %}fixed{% endif %};-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;{% endif %}{% else %}background-color:{{block.background_color_picker}};{% endif %}{% if block.text_color_picker %}color:{{block.text_color_picker}}!important;{% endif %}{% if block.if_center_content %}text-align:center;{% endif %}">

    {% if block.if_content_block_background_image == 'true' %}
        <div class="bkg-color" style="background: {{ block.background_color_picker }};opacity:0.{{block.content_block_bkg_color_opacity}}"></div>
    {% endif %}

    {% if 'agenda_repeater' == block.acf_fc_layout %}

        {% if block.agenda_content_repeater %}

            {% include 'blocks/agenda.twig' %}

        {% endif %}

    {% elseif 'generate_table' == block.acf_fc_layout %}

        {% if block.generate_table %}

            {% include 'blocks/generate_table.twig' %}

        {% endif %}

    {% elseif 'link_list_new_repeater' == block.acf_fc_layout %}

        {% if block.links_repeater %}

            {% include 'blocks/link_list_new_repeater.twig' %}

        {% endif %}

    {% elseif 'list_descriptions' == block.acf_fc_layout %}

        {% if block.list_items %}

            {% include 'blocks/list_descriptions_repeater.twig' %}

        {% endif %}

    {% elseif 'people' == block.acf_fc_layout %}

        {% if block.people %}

            {% if block.has_intro == 'yes' %}

            <div class="row">

                <div class="col-xs-12 col-sm-8">

                    <div class="content">

                        <div class="spacer"></div>

                        {{ block.introduction }}

                    </div><!-- /.text_container -->

                </div>

            </div>

            {% else %}

            {% endif %}

            {% include 'blocks/people.twig' %}

        {% endif %}

    {% elseif 'pull_quote' == block.acf_fc_layout %}

        {% if block.pull_quote %}

            <h3 class="mt-5">{{ block.block_title }}</h3>

            {% include 'blocks/pull_quote.twig' %}

        {% endif %}

    {% elseif 'related_content_repeater' == block.acf_fc_layout %}

        {% if block.content_repeater %}

            {% include 'blocks/related_content_repeater.twig' %}

        {% endif %}

    {% elseif 'related_text_widget' == block.acf_fc_layout %}

        {% if block.text_widget %}

            {% include 'blocks/related_text_widget.twig' %}

        {% endif %}

    {% elseif 'wysiwyg_block' == block.acf_fc_layout %}

        {% if block.wysiwyg %}

            {% include 'blocks/wysiwyg.twig' %}

        {% endif %}

    {% endif %}

    <hr class="my-0">

    {% if block.content_block_background_image.url %}
        </span>
    {% endif %}

    </section>

{% endfor %}

