{% set blocks = flex_blocks %}

{% for block in blocks %}

    {% set anchor = block.block_title ~ '-' ~ loop.index %}

    <section id="{{ anchor|sanitize }}" {% if block.parallax == 'true' %}data-type="background" data-speed="{{ block.parallax_amount }}"{% endif %} class="
        {% if block.fixed == 'true' %}scroll-fix{% endif %}{% if block.parallax == 'true' %} parallax{% endif %}{% if block.full_height == 'true' %} full_height{% endif %}" style="
        {% if block.if_content_block_background_image == 'true' %}
            {% if block.content_block_background_image %}
                background: url({{ block.content_block_background_image.url }}) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            {% endif %}
        {% endif %}
        {% if block.text_color_picker %}color:{{block.text_color_picker}}!important;{% endif %}
        {% if block.if_center_content %}text-align:center;{% endif %}">

        <div class="bkg-color" style="background:{{ block.background_color_picker }};
        {% if block.content_block_bkg_color_opacity == 0 %} opacity:0;{% elseif block.content_block_bkg_color_opacity == 9 %} opacity:.96;{% elseif block.content_block_bkg_color_opacity == 10 %} opacity:1;{% else %}
        opacity:0.{{ block.content_block_bkg_color_opacity }};{% endif %}
        "></div>

    {% if 'agenda_repeater' == block.acf_fc_layout %}

        {% if block.agenda_content_repeater %}

            {% include 'blocks/agenda.twig' %}

        {% endif %}

    {% elseif 'generate_table' == block.acf_fc_layout %}

        {% if block.generate_table %}

            {% include 'blocks/generate_table.twig' %}

        {% endif %}

    {% elseif 'files' == block.acf_fc_layout %}

        {% if block.download_files %}

            {% include 'blocks/file_download.twig' %}

        {% endif %}

    {% elseif 'publication_block' == block.acf_fc_layout %}

        {% if block.publication_type %}

            {% include 'blocks/publications.twig' %}

        {% endif %}

    {% elseif 'link_list_new_repeater' == block.acf_fc_layout %}

        {% if block.links_repeater %}

            {% include 'blocks/link_list_new_repeater.twig' %}

        {% endif %}

    {% elseif 'news_block' == block.acf_fc_layout %}

            {% include 'blocks/news.twig' %}

    {% elseif 'people' == block.acf_fc_layout %}

        {% if block.people %}

            {% include 'blocks/people.twig' %}

        {% endif %}

    {% elseif 'pull_quote' == block.acf_fc_layout %}

        {% if block.quote %}

            {% include 'blocks/pull_quote.twig' %}

        {% endif %}

    {% elseif 'wysiwyg_block' == block.acf_fc_layout %}

        {% if block.wysiwyg %}

            {% include 'blocks/wysiwyg.twig' %}

        {% endif %}

    {% endif %}

    <hr class="my-0">

    {% if block.content_block_background_image.url %}
        </span>
    {% endif %}

    </section>

{% endfor %}

