{% if herotrue == 'carousel' %}

    <div id="hero-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

        <div class="carousel-inner">

            <div class="carousel-nav{% if upcomingevent == 'true' %} withevent{% endif %}">

                <a href="#hero-carousel" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>

                <ol class="carousel-indicators">

                    {% for item in carousel %}

                    {% set looper = loop.index %}

                    <li data-target="#hero-carousel" data-slide-to="{{looper - 1}}" class="{% if loop.index0 == 0 %}active{% endif %}"></li>

                    {% endfor %}

                </ol>

                <a href="#hero-carousel" role="button" data-slide="next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>

            </div>

            {% for item in carousel %}

            <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}" style="background: url('{{ item.carousel_image.url }}')no-repeat center center{% if item.carousel_fixed == 'true' %} fixed{% endif %}; background-size: cover;">

                <div class="bkg-color" style="background: {{ item.carousel_background_color }};opacity:0.{{item.carousel_background_color_opacity}}"></div>

                {% if item.carousel_title %}

                <div class="carousel-block">

                    <div class="carouselcaption d-flex h-100 align-items-center justify-content-center" style="{% if item.carousel_text_color %}color:{{item.carousel_text_color}}!important;{% endif %}">

                        <div class="container">

                        {{ item.carousel_title|striptags('<p><br><h1><h2><h3><h4><div><hr><i><strong><button>') }}

                        </div>

                    </div><!-- /.carousel-caption -->

                </div><!-- /.hero-block -->

                {% endif %}

            </div><!-- /.carousel-item -->

            {% endfor %}

        </div><!-- /.carousel-inner -->


    {% if aboutsection =='true' %}

        {% if upcomingevent == 'true' %}

        <a href="#about" class="about-more withevent d-none d-sm-none d-md-block d-lg-block d-xl-block" style="color:#fff!important;">

        {% else %}

        <a href="#about" class="about-more d-none d-sm-none d-md-block d-lg-block d-xl-block" style="color:#fff!important;">

        {% endif %}

            <h3>Learn More</h3>

            <span class="chevron bottom">

            </span>

        </a>

    {% endif %}


    </div>

{% else %}

<div id="hero" {% if parallax == 'true' %}data-type="background" data-speed="{{ parallaxamount }}"{% endif %} class="
    {% if herofixed == 'true' %}scroll-fix{% endif %}{% if parallax == 'true' %} parallax{% endif %}{% if fullheight == 'true' %} full_height{% endif %}" style="
    {% if ifherobackgroundimage == 'true' %}
        {% if heroimage %}
            background: url({{ heroimage.url }}) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        {% endif %}
    {% endif %}
    {% if herotextcolor %}color:{{ herotextcolor }}!important;{% endif %}position:relative;">

    <div class="hero">

        <div class="hero-block align-items-center" style="height: 100%;">

            <div class="align-items-center">

                <div class="container">

                    <div class="pb-5">

                        {% if herotitle %}

                            {{ herotitle|striptags('<p><br><h1><h2><h3><h4><div><hr><i><strong><button>') }}

                        {% endif %}

                    </div>

                </div>

            </div><!-- /.align-items-center -->

        </div><!-- /.hero-block -->

        {% include 'partial/cta.twig' %}

    </div><!-- /.hero -->

    <div class="bkg-color" style="z-index:0;background:{{ herobackgroundcolor }};
    {% if herobackgroundcoloropacity == 0 %} opacity:0;{% elseif herobackgroundcoloropacity == 9 %} opacity:.96;{% elseif herobackgroundcoloropacity == 10 %} opacity:1;{% else %}
    opacity:0.{{ herobackgroundcoloropacity }};{% endif %}
    "></div>

    {% if aboutsection =='true' %}

        <a href="#about" class="about-more {% if upcomingevent == 'true' %}withevent{% endif %} d-none d-sm-none d-md-block d-lg-block d-xl-block" style="color:{{herotextcolor}}!important;">

            <h3>Learn More</h3>

            <span class="chevron bottom">

            </span>

        </a>

    {% endif %}

</div><!-- /#hero -->

{% endif %}