<div id="hero" class="{% if backgroundfixed == 'true' %}scroll-fix{% endif %}" style="{% if ifherobackgroundimage == 'true' %}{% if heroimage.url %}background: url({{ heroimage.url }})no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;{% endif %}{% else %}background-color:{{herobackgroundcolor}};{% endif %}{% if herotextcolor %}color:{{herotextcolor}}!important;{% endif %}">

    {% if (herotrue == 'true') and (fullheight == "false") %}

    <div class="hero">

    {% else %}

    <div class="hero half">

    {% endif %}

        <div class="hero-block align-items-center" style="height: 100%;">

            <div class="align-items-center d-xs-none d-sm-none d-md-flex d-lg-flex d-xl-flex">

                <div class="container">

                    <div class="text-right pb-5">

                        {% if herotitle %}

                            {{ herotitle|striptags('<p><br><h1><h2><h3><h4>') }}

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

        {% if upcomingevent == 'true' %}

        <div class="event-details {% if eventfixed =='true' %}fixed{% endif %}" style="background: {{ eventbackgroundcolor }}; color: {{ eventtextcolor }} !important;">

            <span class="d-flex">

                {% if eventtitle %}

                <h2 class="event-title align-self-center">{{ eventtitle }}</h2>

                {% endif %}

                {% if eventdate %}

                <h2 class="align-self-center pl-4">{{ eventdate }}</h2>

                {% endif %}


                {% if heroregistration %}

                <div class="ml-auto">

                <a href="{{ heroregistration }}" class="register-button" target="_blank">

                    Register

                </a>

                {% endif %}

                {% if heroagenda %}

                <a href="#{{ heroagenda|sanitize }}" class="scroll-button">

                    <span>View Agenda</span>

                </a>

                </div>

                {% endif %}

            </span>


        {% endif %}

    </div>

    {% if istherebackgroundimage == 'true' %}

    <div class="bkg-color" style="background: {{ herobackgroundcolor }};opacity:0.{{herobackgroundcoloropacity}}"></div>

    {% else %}

    <div class="bkg-color" style="background: {{ herobackgroundcolor }};"></div>

    {% endif %}

    {% if (herotrue == 'true') and (fullheight == "false") %}

    </div>

    {% else %}

    </div>

    {% endif %}

    {% if aboutsection =='true' %}

    {% if upcomingevent == 'true' %}

        <a href="#about" class="about-more withevent d-none d-sm-none d-md-block d-lg-block d-xl-block" style="color:{{herotextcolor}}!important;">

    {% else %}

        <a href="#about" class="about-more d-none d-sm-none d-md-block d-lg-block d-xl-block" style="color:{{herotextcolor}}!important;">

    {% endif %}

        <h3>Learn More</h3>

        <span class="chevron bottom">

        </span>

    </a>

    {% endif %}

</div>

