<li class="nav-item">

    <a href="#canvas{#{ site.link }#}" class="anchor">
        Home
    </a>

</li>

{% if aboutsection =='true' %}

<li class="nav-item">

    <div data-toggle="collapse" data-target="#subnav-collapse" aria-expanded="false" aria-controls="subnav-collapse">

        <a href="{% if fn('is_singular') %}{{ site.link }}/{% endif %}#about" class="anchor nav-link show-subnav">
            About {% if primary.get_items %}<div class="plus"></div>{% endif %}
        </a>

    </div>

</li>

{% if primary.get_items %}

<div class="collapse" id="subnav-collapse">

    <div class="subnav">

        {% for item in primary.get_items %}

        <li class="nav-item">
            <div class="shelf-menu">
                <a href="{{ item.get_link }}" title="" class="anchor nav-link nav-active">{{ item.title }}</a>
            </div>
        </li>

        {% endfor %}

    </div>

</div>

{% endif %}


{% endif %}

{% for block in flex_blocks %}

{% set anchor = block.block_title ~ '-' ~ loop.index %}

<li class="nav-item">

    <a href="{% if fn('is_singular') %}{{ site.link }}/{% endif %}#{{ anchor|sanitize }}" class="anchor nav-link">
        {{ block.anchor_label }}
    </a>

</li>

{% endfor %}


