<li>

    <a href="{{ site.link }}">
        Home
    </a>

</li>

{% if aboutsection =='true' %}

<li>

    <a href="{% if fn('is_singular') %}{{ site.link }}/{% endif %}#about" class="anchor">
        About
    </a>

</li>

{% endif %}

{% for block in flex_blocks %}

{% set anchor = block.block_title ~ '-' ~ loop.index %}

<li>

    <a href="{% if fn('is_singular') %}{{ site.link }}/{% endif %}#{{ anchor|sanitize }}" class="anchor">
        {{ block.anchor_label }}
    </a>

</li>

{% endfor %}


