{% block content %}

    <h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>

    {% if post.thumbnail.src %}

        <img src="{{post.thumbnail.src|resize(500, 500, 'center') }}" class="mb-4"/>

    {% endif %}

    {% set text = post.content|split(' ') %}

    {% if text|length > 50 %}

        {% for shorttxt in text|slice(0, 50) %}

            {{ shorttxt }}

        {% endfor %}

        <span class="elipsis">...</span>

        <div>
            <a href="{{ post.link }}">
              Read More
            </a>
        </div>

    {% endif %}

{% endblock %}