<nav aria-label="Page navigation example">

    <!--ul class="pages pagination justify-content-center"-->
    <ul class="pages pagination ml-5 mt-5">

        {% if posting.pagination.prev %}

            <li class="page-item">

                <a href="{{posting.pagination.prev.link}}" class="page-link prev {{posting.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>

            </li>

        {% endif %}

        {% for page in posting.pagination.pages %}

            <li class="page-item">

                {% if page.link %}

                    <a href="{{page.link}}" class="page-link {{page.class}}">{{page.title}}</a>

                {% else %}

                    <span class="page-link disabled {{page.class}}">{{page.title}}</span>

                {% endif %}

            </li>

        {% endfor %}

        {% if posting.pagination.next %}

            <li class="page-item">

                <a href="{{posting.pagination.next.link}}" class="page-link next {{posting.pagination.next.link|length ? '' : 'invisible'}}">Next</a>

            </li>

        {% endif %}

    </ul>
</nav>
