{% if post.headshot %}

<a href="{{ function('get_permalink', post.ID) }}">

    <img src="{{Image(post.headshot).src|resize(500, 500, 'center') }}" alt="" class="w-100 mx-auto">

</a>


{% else %}

<a href="{{ function('get_permalink', post.ID) }}">

    <img src="{{ theme.link }}/img/profile.png" alt="" class="w-100 mx-auto">

</a>

{% endif %}

<div class="card-body">

    <h2 class="serif mt-0 mb-3 text-left">
        <a href="{{ function('get_permalink', post.ID) }}">{{ post.post_title }}</a>
    </h2>

    <h5 class="text-left">{{ post.job_title }}</h5>

    <div class="read-more text-left">

        {% set text = post.bio|split(' ') %}

        {% if text|length > 50 %}

            {% for shorttxt in text|slice(0, 50) %}

                {{ shorttxt }}

            {% endfor %}

            <span class="elipsis">...</span>

            <div class="readmore">

            {% for moretxt in text|slice(50, 1000) %}

                {{ moretxt }}

            {% endfor %}

            </div>

            <div>
                <a href="#0" class="read-more">
                  Read More
                </a>
            </div>

            {% else %}

            {{ text|join(' ') }}

        {% endif %}

    </div><!-- /.read-more -->

</div><!-- /.card-body -->
